:root{
  --clr-primary-1:#c5e5fc;
  --clr-primary-2:#a5d5f8;
  --clr-primary-3:#49a6e9;
  --clr-block:#063251;
  --clr-green:#6be675;
  --clr-pink:#e66b6b;
  --clr-white:#fff;
  --clr-grey:#617d98;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

}

*,
::after,
::before{
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-primary-1);
  color: var(--clr-grey);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey);
}

section{
  padding:5rem 0;
}
.section-center{
  width:90vw;
  margin:8rem auto;
  max-width: 35rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}
.section-center:hover {
  box-shadow: var(--dark-shadow);
}
.grocery-form h3{
  color: var(--clr-block);
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-control{
  display: flex;
  justify-content: center;
}
.grocery{
  padding: 0.25rem;
  border-color: transparent;
  background: var(--clr-primary-1);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  color:var(--clr-pink);
  padding-left: 1rem;
  font-size: 1rem;
  flex:1 0 auto;
}
.submit-btn{
  color: var(--clr-block);
  background: var(--clr-primary-3);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: transparent;
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: var(--transition);
  align-items: center;
  display: grid;
  padding: 6px;
}
.grocery-container{
margin-top: 2rem;
}
.clear-btn{
  color: var(--clr-pink);
  border-color: transparent;
  background: none;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-size: 15px;
  display: grid;
  align-items: center;
  width:10rem;
  height: 1.5rem;
  margin:0 auto;
  cursor: pointer;
}
.grocery-item{
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.edit-btn{
  color: var(--clr-green);
  border-color: transparent;
  background: transparent;
  font-size: 18px;;
}
.delete-btn{
  color: var(--clr-pink);
  border-color: transparent;
  background: transparent;
  font-size: 16px;;
}